<section class="welcome">
  <div class="container">
    <% if user_signed_in? %>
      <h1 class="welcome-title">Welcome <%= current_user.name %>, to your Family Wallet</h1>
      <%= link_to "Categories", categories_path, class: "btn btn-primary" %>
      <% else %>
      <h1 class="welcome-title">Welcome to Family Wallet</h1>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-w btn-primary" %>
      <%= link_to "Log In", new_user_session_path, class: "btn-w btn-primary" %>
    <% end %>
  </div>
</section>
