@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,300&family=Playfair+Display:ital,wght@1,600;1,800&display=swap');

* {
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(7, 61, 7);
}

.logo {
  display: flex;
  max-width: 50px;
  margin-left: 2px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(40, 66, 40);
}

body {
  background-color: #f5f5f5;
  background-image: url('https://cdn.pixabay.com/photo/2015/09/15/15/53/bank-notes-941246__480.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 50px;
}

h1 img {
  width: 40px;
}

.ExCat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-height: 80%;
  backdrop-filter: blur(5px);
}

.expenseL {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid rgb(203, 211, 245);
}

.con2 li {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #fff;
}

.con2 h1,
.con2 p,
.con2 div {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
  color: #284228;
  font-family: 'Playfair Display', serif;
}

.btn-w,
.btn-primary {
  background-color: rgb(100, 182, 37);
}

.btn-w {
  text-decoration: none;
  width: 70%;
  text-align: center;
  align-self: center;
  padding: 10px 0;
  border-radius: 10px;
}

.btn-w:hover,
.btn-primary:hover {
  background-color: rgb(143, 231, 159) !important;
}

.fa-solid {
  color: white;
}

.link-to-back {
  padding-left: 3rem;
  text-align: center;
}

.container-fluid {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
}

.nav-link,
.heading {
  text-decoration: none;
  color: rgb(253, 250, 250);
}

.heading {
  font-family: 'Playfair Display', serif;
}

.nav-link:hover {
  color: rgb(143, 231, 159);
}

.btn-create {
  background-color: rgb(100, 182, 37);
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

th {
  border: none;
}

.cat {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  backdrop-filter: blur(5px) brightness(0.8);
}

.p1,
.p2,
.p3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: rgb(206, 237, 182);
  font-weight: 700;
}

.save {
  background-color: rgb(100, 182, 37);
  margin-top: 20px;
}

.submit {
  background-color: #08391a;
  margin-top: 20px;
  width: 20%;
  border-radius: 15px;
  border: none;
  color: rgb(14, 174, 35);
  text-align: center;
}

.btn-footer {
  display: flex;
  justify-content: space-evenly;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

input {
  height: 50px;
  background-color: transparent;
}

.fieldR {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.ditails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.rowE {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
}

.actions {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.btn-edit {
  background-color: rgb(100, 182, 37);
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(4, 73, 35);
}

.actions a {
  background-color: transparent;
  margin-top: 20px;
  border: none;
  text-align: left;
  color: rgb(6, 77, 20);
}

.total-count {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.p1 a:hover,
.p2 a:hover,
.p3 a:hover {
  color: rgb(143, 231, 159);
}

.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(52, 216, 6);
  backdrop-filter: blur(5px);
  margin: 0 4rem 0 4rem;
}

.form-control,
#category_icon {
  background-color: #09e20988;
}
