<div id="<%= dom_id category %>">
  <p>
    <strong>Index:</strong>
    <%= category.index %>
  </p>

  <p>
    <strong>New:</strong>
    <%= category.new %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= category.show %>
  </p>

</div>
