<div id="<%= dom_id category %>" class="render-category">
  <p>
    <strong>Index:</strong>
    <%= image_tag category.icon, alt: 'icon' %>
  </p>

  <p>
    <strong>New:</strong>
    <% if can? :read, category %>
      <%= link_to category.name, category_expense_categories_path(category.id) %>
      <% end %>
  </p>

  <p>
    <strong>Show:</strong>$
    <%= category.total %>
  </p>
</div>
