<%= render partial: "layouts/navbar", locals: {heading: 'EDIT CATEGORY', back_path: categories_path} %>
<div class="container">

  <%= render "form", category: @category %>

  <br>

  <div>
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>
