<p style="color: green"><%= notice %></p>
<div class="container">
  <%= render @category %>

    <div>
      <%= link_to "Back to categories", categories_path %>
      <%= link_to "See all Expenses", category_expenses_path(category) %>
    </div>
</div>
