<div id="<%= dom_id expense %>">
  <p>
    <strong>Index:</strong>
    <%= expense.index %>
  </p>

  <p>
    <strong>New:</strong>
    <%= expense.new %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= expense.show %>
  </p>

</div>
